\.*\.dat
*.por
*.narr
*.names
*.tags
*.o
*.d
lib/
moc_*.cpp
*.txt.user
.idea/
.GenealogyPreProcessedDescriptions
.HadithPreProcessedDescriptions
.chainOutput
ATSarf/bin/diacriticrules
ATSarf/bin/ex0
ATSarf/bin/ex1
ATSarf/bin/ex2
ATSarf/bin/graph.dot
ATSarf/bin/graph.svg
ATSarf/bin/hadith_chains.txt
ATSarf/bin/mtest
ATSarf/bin/numnorm
ATSarf/bin/syn
ATSarf/bin/tagger
ATSarf/bin/worddensity
ATSarf/bin/ATSarfGui
